.t1{
    font-size:clamp(2rem,4vw,10rem);
    line-height:1;
}
.t2{
    font-size:clamp(5rem,7vw,10rem);
    line-height:1;
}

li svg{
    width:1.5em;
    height:1.5em;
}

.SN::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color:pink;
}