
body {
    margin: 0;
    background-color: #0a192f;
    padding: 0;
}

.container {
    width: max-content;
    max-width: 100px;
}

svg {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    fill: none;
}

.navigation{
    height: 10vh;
    box-shadow: rgba(42, 42, 42, 0.4) 0px 1px 5px -2px;
    background-color: #eee;
}

.container-h{
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 40vh;
    left: 30vw;
    & figure {
        position: relative;
        height: 250px;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 6px 15px 25px rgba(42, 42, 42, 0.4);
        cursor: pointer;
        & img {
            width: 100%;
            height: 100%;
            transition: all 500ms ease-out;
        }
        .layer{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(42, 42, 42, 0.4);
            transition: all 500ms ease-out;
            opacity: 0;
            visibility: hidden;
            text-align: center;
            & h3{
                color: #fff;
                font-weight: 400px;
                margin-bottom: 120px;
                transition: all 500ms ease-out;
                margin-top: 30px;
            }
            & p{
                color: #fff;
                font-size: 15px;https://www.youtube.com/watch?v=TYYMR0kHubshttps://www.youtube.com/watch?v=TYYMR0kHubshttps://www.youtube.com/watch?v=TYYMR0kHubs
                line-height: 1.5;
                width: 100%;
                max-width: 220px;
                margin: auto;
                transition: all 500ms ease-out;
            }
        }
        &:hover{
            > img{
                transform: scale(1.3);
            }
            > .layer{
                opacity: 1;
                visibility: visible;
                & h3{
                    margin-top: 70px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.socialMedia {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    list-style: none;
}
.socialMedia::after {
    content: "";
    display: block;
    width: 1px;
    height: 8em;
    background-color: blue;
}
.socialMedia li{
    margin-bottom: 1em;
}
.socialMedia li:last-child{
    margin-bottom: 2em;
}
.boxMedia{
    display: flex;
    position: fixed;
    flex-direction: column;
    margin-left: 2.5vw;
    align-items: center;
    bottom: -0.9em;
}
.boxMail {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    right: 2.3vw;
    bottom: 0;
}
.boxMail a{
    margin-bottom: 1em;
}
.boxMail::after {
    content: "";
    display: block;
    width: 1px;
    height: 110px;
    /* margin: 0px auto; */
    background-color: blue;
}
.boxMail a {
    /* margin: 20px auto; */
    padding: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.socialMedia li a svg {
    width: 20px;
    height: 20px;
}